div{
	width: 100px;
	height: 50px;
	background: red;
	position: relative;
  animation: animated_div 5s 10;
}

@keyframes animated_div{
  0%{transform: rotate(0deg);left: 0px;}
  25%{transform: rotate(20deg);left: 0px;}
  50%{transform: rotate(0deg);left: 500px;}
  75%{transform: rotate(0deg);left: 500px;}
  100%{transform: rotate(-360deg);left: 0px;}
}