.dc1{
	width:200px;
	height:200px;
	background-repeat:no-repeat;
	background-image:url("../image/1.png");
	background-color: red;
	background-position: 10px;
}
.dc2{
	width:200px;
	height:200px;
	background-repeat:no-repeat;
	background-image:url("../image/1.png");
	background-color: red;
	background-position: 10px;
}
